*{
	margin: 0;
	padding: 0;
}
body{
	background: grey;
}
nav
{
	background: rgb(0,25,50);
}
table{
	width: 100%;
	border-bottom: 2px solid white;
}
tr{
	height: 50px;
	text-align: center;
	font-size: 25px;
	font-family: sans-serif;
}
td{
	border-left: 2px solid white;	
}
td:first-child{
	border-left: none;
}
a{
	text-decoration: none;
	color: white;
}